

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background-color: darkgray;
}

nav {
    position: fixed;
    top: 8px;
    width: 100%;
}

nav span{
    color: white;
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 12px;
    list-style-type: none;
}

nav li {
    text-transform: uppercase;
    display: inline-block;
    color: white;
    margin-left: 40px;
    font-size: 14px;
}

nav li a{
    color: white;
}

nav li.active a {
    color: yellow;
    border-bottom: 1px solid yellow;
}

nav li:hover a{
    color: yellow;
    border-bottom: 1px solid yellow;
    text-decoration: none;
}
nav li:hover a.noBorder {
    border-bottom: 0px;
    text-decoration: none;
}

/* short paddings  */
.firstSection{
    background-image: url("../img/section1Background.png");
    padding-top: 210px;
    padding-bottom: 244px;
    text-transform: uppercase;
}
/* fix margin top - tine de first section padings */
.firstSection h3 {
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    margin-top: 0px;
    text-align: center;
    font-size: 36px;
    color: white;
}
.firstSection h1 {
    font-family: 'Work Sans', sans-serif;
    margin-top: 16px;
    text-align: center;
    font-size: 72px;
    color: white;
    font-weight: bold;
}
.firstSection span {
    width: 60px;
    height: 4px;
    background-color: white;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.firstSection button {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.firstSection button:hover {
    background-color: white;
    color: #e88282;
}















