

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background-color: darkgray;
}
.firstSection{
    background-image: url("../img/section1Background.png");
    padding-top: 210px;
    padding-bottom: 244px;
    text-transform: uppercase;
}

.firstSection h3 {
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    margin-top: 0px;
    text-align: center;
    font-size: 36px;
    color: white;
}
.firstSection h1 {
    font-family: 'Work Sans', sans-serif;
    margin-top: 16px;
    text-align: center;
    font-size: 72px;
    color: white;
    font-weight: bold;
}
.firstSection span {
    width: 60px;
    height: 4px;
    background-color: white;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

nav {
    text-transform: uppercase;
    display: inline-block;
}

nav span{
    color: white;
    font-size: 30px;
}

nav li {
    display: inline-block;
    color: white;
    list-style-type: none;
    padding-left: 40px;
    font-size: 14px;
}

nav li.active {
    color: yellow;
    border: 1px solid yellow;
}

nav li:hover{
    color: yellow;
    border: 1px solid yellow;
}













